<%- partial('partial/head') %>
<%- partial('partial/header') %>

<main id="main-content" class="home-main">
  <% var heroPosts = []; %>
  <% page.posts.each(function(post) { if (heroPosts.length < 3) heroPosts.push(post); }); %>
  <%- partial('partial/parallax-hero', { posts: heroPosts }) %>
</main>

<%- partial('partial/footer') %>
